.iconPlacement {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50%;
}

.header_{
    text-align: center;
    padding-bottom: 40px;
}

.timelineDiv{
    padding-top: 60px;
}

.phase{
    color: #F1b24a;
    padding-top: 5px;
}

.projectTitle{
    color: #F1b24a;
    
}